.nav-bar{
    display: flex;

    border-bottom:20px;
    border-color: black;
    
}
.nav-bar :nth-child(1){
    padding: 9px;
}
.nav-bar :nth-child(2){
    padding: 9px;
    position: absolute;
    top: 40px;
    
}
.nav-bar :nth-child(3){
    padding: 9px;
    position: absolute;
    top: 80px;

}

.titulo{
    position: absolute;
    top:100px
}